@font-face {
  font-family: "Maven Pro', 'Verdana', 'sans-serif";
  src: url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap") format("truetype");
}

header {
  background-color: #86a1a6;
  display: inline-flex;
  max-height: 200px;
  width: 100%;
  padding-bottom: 10px;
}

.logo {
  padding-left: 20px;
  padding-top: 5px;
  width: 414px;
}

nav li {
  margin-top: 15%;
  padding: 25px;
  margin-left: 25px;
  display: inline-block;
}

a:hover {
  text-decoration: underline;
}

nav a {
  font-size: 22px;
  font-family: 'Maven Pro', 'Verdana', 'sans-serif';
}

body {
  min-height: 100vh;
  margin: 0%;
}

.homebackground {
  display: flex;
  position: relative;
  text-align: center;
}

footer {
  background-color: #86a1a6;
  font-family: 'Maven Pro', 'verdana', 'sans-serif';
  font-size: 18px;
  color: #042a32;
  height: 100px;
  text-align: center;
  padding: 20px;
  position: relative;
}

.footerlink a, nav a{
  color: #042a32;
}

.footerlink li {
  display: inline-block;
  padding-bottom: 10px;
  padding-right: 40px;
}

/* About-page */

.aboutus h1{
  font-family: 'Maven Pro', 'verdana', 'sans-serif';
  font-size: 45px;
  color: #0A3641;
  font-weight: 100;
  padding-top: 40px;
  margin-bottom: 60px;
  margin-left: 45px;
}

p{
  font-size: 24px;
  font-family: 'Maven Pro', 'verdana', 'sans-serif';
  color: #0A3641;
  margin-left: 45px;
  width: 600px;
  margin-bottom: 35px;
}

.about-image {
  border-radius: 50px;
  max-height: 700px;
  float: right;
  margin-right: 180px;
  margin-top: -55px;
}

/* Contact-page */

.contact-form input {
  border: 2px solid #0A3641; 
  border-radius: 15px; 
  margin: 10px;
  padding: 12px;
}

.contact-form label, h1{
  margin-left: 10px;
  font-weight: lighter;
  margin-top: 10px;
}

.contact-form {
  font-family: 'Maven Pro', 'verdana', 'sans-serif' ;
  font-size: 24px;
  color: #0A3641;
  padding: 20px;
  margin-bottom: 50px;
  margin-left: 100px;
  line-height: 50px;
  max-width: 500px;
}

.contact-form .btn {
  background-color:#0A3641;
  font-size: 18px;
  padding: 15px 30px;
  font-family: 'Maven Pro', 'verdana', 'sans-serif' ;
  border-radius: 15px;
  margin-left: 10px;
}

a {
  color: white;
  text-decoration: none;
}

.contact-image {
  border-radius: 25px;
  max-height: 580px;
  float: right;
  margin-top: -600px;
  margin-right: 250px;
}

/* Feedback */

#headline {
  text-align: center;
  margin: 50px;
  font-family: 'Maven Pro', 'verdana', 'sans-serif';
  color: #0A3641;
}

#response {
  margin-left: 450px;
  margin-top: -20px;
  text-align: center;
  margin-bottom: 100px;
}

.close_feedback {
  margin-left: 680px;
  background-color:#0A3641;
  font-size: 18px;
  padding: 15px 30px;
  font-family: 'Maven Pro', 'verdana', 'sans-serif' ;
  border-radius: 15px;
  display: inline-flex;
  margin-bottom: 40px;
}

/* Jackets */

.motto {
  margin-top: 40px;
  margin-left: 200px;
  margin-bottom: 20px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-container h1{
  text-align: center;
  padding-left: 10px;
  font-family:'Maven Pro', 'verdana', 'sans-serif';
  font-size: 40px;
  color: #0A3641;
}

.flex-container h2, h3{
  font-family:'Maven Pro', 'verdana', 'sans-serif';
  font-weight: lighter;
  text-align: center;
  padding-bottom: 10px;
  color: #0A3641;
}

.card1 {
  max-width: 290px;
  margin: 80px;
}

.card2 {
  max-width: 310px;
  margin: 80px;
}

.card3 {
  max-width: 340px;
  margin: 80px;
}

.card4, .card5{
  width: 300px;
  margin: 80px;
}

.card6 {
  width: 330px;
  margin: 90px;
}

/* Jacket 1 */

.jacket--1{
  margin-top: 100px;
  margin-left: 210px;
  float: left;
  width: 25%;
  height: auto;
}

.product_info {
  display: inline-block;
  padding-bottom: 50px;
  margin: 110px;
  font-family: 'Maven Pro', 'verdana', 'sans-serif';
}

.product_info h1 {
  font-size: 50px;
  margin-left: 45px;
  color: #0A3641;
}

.product_info h2{
  font-weight: lighter;
  font-size: 36px;
  margin-left: 45px;
  padding-bottom: 30px;
}

.product_info h3{
  font-weight: lighter;
  font-size: 36px;
  margin-left: 45px;
  padding-bottom: 30px;
  color: #0A3641;
}

.product_info p {
  font-weight: lighter;
  font-size: 18px;
  line-height: 7px;
  color: black;
}

.product_info a{
  background-color:#0A3641;
  font-size: 18px;
  padding: 15px 30px;
  font-family: 'Maven Pro', 'verdana', 'sans-serif' ;
  border-radius: 15px;
  display: inline-flex;
  margin-left: 44px;
}

/* Shoppingcart */

.cart h1{
  text-align: center;
  margin-top: 40px;
  padding: 10px;
  font-family:'Maven Pro', 'verdana', 'sans-serif';
  font-size: 50px;
  color: #0A3641;
}

.jacket__1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.cart hr{
border-bottom: 1px solid #0A3641;
width: 60%;
}

.cart h2, .cart h3{
  text-align: center;
  font-family: 'Maven Pro', 'verdana', 'sans-serif';
  font-weight: lighter;
  font-size: 32px;
  color: #0A3641;
  padding: 20px;
}

.cart h3{
  padding: 40px;
  text-align: center;
}

.cart a{
  background-color:#0A3641;
  font-size: 18px;
  padding: 15px 30px;
  font-family: 'Maven Pro', 'verdana', 'sans-serif' ;
  border-radius: 15px;
  display: inline-block;
  margin-bottom: 40px;
  margin-top: 40px;
  margin-left: 640px;
}

/* Checkout */

.flex-container-purchase {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.payment-form h3, .shipping-form h3{
  font-weight: lighter;
  font-size: 40px;
}

.shipping-form input {
  border: 2px solid #0A3641; 
  border-radius: 15px; 
  margin-top: 10px;
  padding: 10px;
  width: 450px;
}

.payment-form input {
  border: 2px solid #0A3641; 
  border-radius: 15px; 
  padding: 10px;
  margin-top: 10px;
  width: 450px;
}

.payment-form, .shipping-form {
  padding: 30px;
  font-family: 'Maven Pro', 'verdana', 'sans-serif' ;
  font-size: 20px;
  line-height: 40px;
  color: #0A3641;
  max-width: 500px;
  margin: 30px;
  border-radius: 20px;
  background-color: #c6ced0;
}

#purchasebtn {
  background-color: #0A3641;
  font-size: 18px;
  padding: 15px 30px;
  font-family: 'Maven Pro', 'verdana', 'sans-serif' ;
  border-radius: 15px;
  display: inline-block;
  margin-bottom: 40px;
  margin-top: 40px;
  margin-left: 640px;
}

/* Confirmed purchase */

#confirmed-info h1 {
  text-align: center;
  font-family:'Maven Pro', 'verdana', 'sans-serif';
  font-size: 46px;
  color: #0A3641;
  margin-top: 50px;
}

#confirmed-info h2{
  font-weight: lighter;
  text-align: center;
  font-family:'Maven Pro', 'verdana', 'sans-serif';
  font-size: 30px;
  color: #0A3641;
  padding-bottom: 100px;
}

.button {
  background-color:#0A3641;
  font-size: 18px;
  padding: 15px 30px;
  font-family: 'Maven Pro', 'verdana', 'sans-serif' ;
  border-radius: 15px;
  display: inline-block;
  margin-bottom: 40px;
  margin-top: 20px;
  margin-left: 640px;
}



/* Small devices (mobile phones, less than 600px) */
@media only screen and (max-width: 600px) {
  
  .logo {
    padding: 13px;
    max-width: 350px;
    position: absolute;
    margin-left: 7px;
  }

  nav li {
    margin-top: 144px;
    margin-left: -40px;
  }

  nav a {
    font-size: 13px;
    padding-right: 4px;
  }

  footer{
    padding-bottom: 50px;
  }

  .about-image, .contact-image, #response {
    display: none;
  }

  .aboutus p {
    font-size: 20px;
    margin-bottom: -16px;
    margin-left: 6px;
    max-width: fit-content;
    padding-bottom: 25px;
  }

  .aboutus h1, .contact-form h1{
    font-size: 36px;
    margin-left: 6px;
    margin-top: -6px;
    margin-bottom: 30px;
  }

  .contact-form {
    margin: 0;
    padding: 10px;
  }

  .contact-form label {
    margin-left: 7px;
  }

  .contact-form input {
    max-width: 80%;
    margin-left: 7px;
  }

  #headline{
    font-size: 20px;
  }

  .flex-container-purchase {
    flex-direction: column;
    padding: 10px;
    max-width: 370px;
  }

  .shipping-form input, .payment-form input {
    max-width: 300px;
  }

  .shipping-form, .payment-form {
    width: 85%;
    margin: 0;
  }

  #purchasebtn, .button, .close_feedback{
    margin-left: 140px;
  }

  .motto, .cart hr{
    display: none;
  }

  .card1, .card2, .card3, .card4, .card5, .card6 {
    width: 100%;
    margin: 10px;
  }

  .jacket--1 {
    width: 280px;
    margin-left: 50px;
  }

  .product_info h1, .product_info h2{
    font-size: 30px;
    margin-left: 30px;
  }

  .product_info p{
    display: none;
  }

  .product_info a{
    margin-left: 1px;
    margin-bottom: 80px;
  }

 .cart .jacket__1{
  width: 390px;
  margin-left: -14px;
  padding-right: 1px;
 }

  .cart a {
    margin-left: 140px;
  }
}

/* Medium devices (tablets, 600px to 768px) */
@media only screen and (min-width: 600px) and (max-width: 767px) {

  header{
  height: 400px;
}

  .logo {
    padding-top: 13px;
    padding-bottom: 100px;
    max-width: 350px;
    position: absolute;
    margin-left: 110px;
  }

  nav li {
    padding-left: 1px;
    padding-right: 10px;
    padding-top: 200px;
    margin-right: 1px;
  }

  nav a {
    font-size: 18px;
  }

  nav li {
    display: inline-flex;
    margin-left: 30px;
    margin-top: -40px;
  }

  .about-image, .contact-image, #response, .motto {
    display: none;
  }

  .aboutus p{
    display: contents;
  }

  .contact-form{
    margin-left: 10px;
  }

  .close_feedback{
    margin-left: 250px;
  }

  #purchasebtn, #closeconfirmed{
    margin-left: 230px;
  }

  .jacket--1{
    max-width: 500px;
  }

  .cart a{
    margin-left: 220px;
  }
}

/* Tablets iPads (Portrait) */
@media (min-width: 768px) and (max-width: 1024px){
  
    .logo {
      padding-top: 13px;
      padding-bottom: 100px;
      max-width: 350px;
      position: absolute;
      margin-left: 180px;
    }

    nav li {
      padding-left: 1px;
      padding-right: 10px;
      padding-top: 200px;
      margin-right: 1px;
      display: inline-flex;
      margin-left: 40px;
      margin-top: -40px;
    }
  
    .about-image, .contact-image, #response, .motto {
      display: none;
    }

    .close_feedback{
      margin-left: 330px;
    }

    .jacket--1{
      width: 380px;
      margin-left: 170px;
    }

    .product_info{
      margin-left: 10px;
      text-align: center;
    }

    .cart a, #purchasebtn, #closeconfirmed{
      margin-left: 310px;
    }
}

@media (min-width: 1025px) and (max-width: 1273px){
  .logo {
    padding-top: 13px;
    padding-bottom: 100px;
    max-width: 350px;
    position: absolute;
    margin-left: 300px;
  }
    
  nav li {
    padding-left: 1px;
    padding-top: 200px;
    display: inline-flex;
    margin-left: 60px;
    margin-top: -40px;
  }

  .about-image{
    margin: 24px;
  }

  .contact-form{
    margin-left: 10px;
  }

  .contact-image{
    margin-right: 80px;
    max-width: 350px;
  }

  .close_feedback{
    margin-left: 450px;
  }

  #response{
    margin-left: 200px;
  }

  .motto{
    display: none;
  }

  .jacket--1{
    width: 380px;
    margin-left: 40px;
  }

  .product_info{
    margin-right: -500px;
  }

  .cart a, #purchasebtn, #closeconfirmed{
    margin-left: 450px;
  }
}